<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Converter</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" href="static/images/logo.svg" />
  </head>
  <body>
    <header style="position: sticky; top: 0">
      <div class="header">
        <div
          style="
            background-color: white;
            width: 1000px;
            height: 100px;
            color: aliceblue;
          "
        ></div>
        <img
          src="static/images/logo.jpg"
          alt="logo"
          width="400px"
          height="100px"
        />
        <div
          style="
            background-color: black;
            width: 1000px;
            height: 100px;
            color: aliceblue;
          "
        ></div>
      </div>
    </header>
    <div class="container">
      <div class="boxes" style="background-color: black">
        <div
          style="
            background-color: black;
            color: white;
            margin: 10px;
            font-weight: bolder;
            font-size: larger;
          "
        >
          CSV to Excel
        </div>
        <form action="" style="background-color: black" accept=".CSV">
          <input type="file" style="background-color: black; color: white" />
        </form>
      </div>
      <div class="boxes" style="background-color: white">Excel to CSV</div>
      <div class="boxes" style="background-color: white">PDF to Image</div>
      <div class="boxes" style="background-color: black">
        <div
          style="
            background-color: black;
            color: white;
            margin: 10px;
            font-weight: bolder;
            font-size: larger;
          "
        >
          PDF to Word
        </div>
        <form action="" style="background-color: black" accept=".PDF">
          <input type="file" style="background-color: black; color: white" />
        </form>
      </div>
      <div class="boxes" style="background-color: black">
        <div
          style="
            background-color: black;
            color: white;
            margin: 10px;
            font-weight: bolder;
            font-size: larger;
          "
        >
          Video to Audio
        </div>
        <form action="" style="background-color: black" accept=".Video">
          <input type="file" style="background-color: black; color: white" />
        </form>
      </div>
    </div>
  </body>
</html>
