<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Converter</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" href="static/images/logo.svg" />
  </head>
  <body>
    <header style="position: sticky; top: 0">
      <div class="header">
        <div
          style="
            background-color: white;
            width: 1000px;
            height: 100px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            font-size: larger;
          "
        >
          This
        </div>
        <img
          src="static/images/logo.jpg"
          alt="logo"
          width="400px"
          height="100px"
        />
        <div
          style="
            background-color: black;
            width: 1000px;
            height: 100px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            font-size: larger;
          "
        >
          That
        </div>
      </div>
    </header>
    <div class="container">
      <div class="boxes" style="background-color: black">
        <div class="whiteonblack">CSV to Excel</div>
        <form
          action="{% url 'upload-csv' %}"
          method="post"
          enctype="multipart/form-data"
          style="background-color: black"
          accept="video/mp4,video/webm,video/ogg"
        >
          {% csrf_token %}
          <input
            type="file"
            name="file"
            style="background-color: black; color: white"
          />
          <button
            type="submit"
            style="
              background-color: white;
              color: black;
              cursor: pointer;
              border-radius: 5px;
            "
          >
            Upload
          </button>
        </form>
      </div>
      <div class="boxes" style="background-color: white">
        <div class="blackonwhite">Excel to CSV</div>
        <form
          action="{% url 'upload-excel' %}"
          method="post"
          enctype="multipart/form-data"
          style="background-color: white"
          accept=".xlsx"
        >
          {% csrf_token %}

          <input
            type="file"
            name="file"
            style="background-color: white; color: black"
          /><br />
          Enter Sheet Name
          <input type="text" name="sheet_name" id="sheet" />

          <button
            type="submit"
            style="
              background-color: white;
              color: black;
              cursor: pointer;
              border-radius: 5px;
            "
          >
            Upload
          </button>
        </form>
      </div>
      <div class="boxes" style="background-color: white">
        <div class="blackonwhite">PDF to Word</div>
        <form
          action="{% url 'upload-pdf' %}"
          method="post"
          enctype="multipart/form-data"
          style="background-color: white"
          accept=".PDF"
        >
          {% csrf_token %}
          <input
            type="file"
            name="file"
            style="background-color: white; color: black"
          />
          <button
            type="submit"
            style="
              background-color: white;
              color: black;
              cursor: pointer;
              border-radius: 5px;
            "
          >
            Upload
          </button>
        </form>
      </div>
      <div class="boxes" style="background-color: black">
        <div class="whiteonblack">Video to Audio</div>
        <form
          action="{% url 'upload-video' %}"
          method="post"
          enctype="multipart/form-data"
          style="background-color: black"
          accept="video/mp4,video/webm,video/ogg"
        >
          {% csrf_token %}
          <input
            type="file"
            name="file"
            style="background-color: black; color: white"
          />
          <button
            type="submit"
            style="
              background-color: white;
              color: black;
              cursor: pointer;
              border-radius: 5px;
            "
          >
            Upload
          </button>
        </form>
        {% if error%}
        <div>{{status_message}}</div>
        {% elif success%}
        <div>{{status_message}}</div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
